<div class="info-pop-up-workshop">
  <div class="img-popup">
    <% if place.photo.attached? %>
    <%= cl_image_tag place.photo.key, alt: "photo du lieu" %>
    <% else %>
    <%= image_tag "https://cdn.shopify.com/s/files/1/0135/6627/9738/articles/header_310b8395-f711-42cb-89f9-db495e34012f.jpg?v=1540918920", alt: "image workshop" %>
    <% end %>
  </div>
    <h2><i class="fas fa-map-marker-alt"></i> <%= place.name %></h2>
</div>
<div class="workshop-pop-up">
  <% if place.workshops.count <= 1 %>
    <h3>Atelier présent dans ce lieu :</h3>
  <% else %>
    <h3>Ateliers présents dans ce lieu :</h3>
  <% end %>
    <% @workshops.each do |workshop| %>
      <% if workshop.place == place %>
        <%= link_to workshop_path(workshop) do %>
        <button class="btn-window"><em><%= workshop.name %></em></button>
        <% end %>
      <% end %>
    <% end %>
</div>
