<% if @workshops.empty? %>
  <div class="no-result">
      <h1>Aucun résultat</h1>
      <h2>Essayez de lancer une recherche avec d'autres mots-clés.</h2>
  </div>
<% else %>
  <div class="workshops-index-container" data-active="<%= params[:filter].select {|k, v| v == '1'}.keys.first if params[:filter] %>">
    <div id="index-main-container">
      <div class="filter-index-workshop">
        <span>Filtrer les ateliers par : </span>
        <%= simple_form_for :filter, url: workshops_path, method: :get, remote: true do |f| %>
          <%= f.input :price, as: :boolean, label: 'Prix' %>
          <%= f.input :rating, as: :boolean, label: 'Avis' %>
          <% if params[:filter].present? %>
            <%= f.input :keyword, input_html: { value: params[:filter][:keyword], class: 'd-none' }, label: false %>
            <%= f.input :place, input_html: { value: params[:filter][:place], class: 'd-none' }, label: false %>
            <%= f.input :date, input_html: { value: params[:filter][:date], class: 'd-none' }, label: false %>
          <% end %>
          <%= f.submit class: 'd-none' %>
        <% end %>
      </div>
      <div class="workshops-index-cards">
        <% @workshops.each do |workshop| %>
          <div class="workshops-index-card">
            <%= link_to(workshop, data: { turbolinks: false }) do  %>
            <div class="img-workshops-index-card">
              <%= render "carousel_index", workshop: workshop %>
            </div>
            <div class="workshops-index-card-infos">
              <div>
                <h1><%= workshop.name[0..30] %></h1>
              </div>
              <div class="d-flex justify-content-between mb-1">
                <h2><i class="fas fa-map-marker-alt"></i> <%= workshop.place.name %></h2>
              </div>
              <div class="d-flex justify-content-between">
                <div class=" rating d-flex">
                  <h3>
                    <i class="fas fa-star" style="color:$blue"></i> <%= workshop.average_rating %>/5
                  </h3>
                  <p>(<%= workshop.reviews.count %> avis)</p>
                 </div>
                 <h1><%= humanized_money(workshop.price) %>€</h1>
               </div>
             </div>
           <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div id="workshops-index-map"
         style="width: 40%;
         height: 100vh;
         position: sticky;
         top: 0;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key=<%= ENV['MAPBOX_API_KEY'] %>>
    </div>
  </div>
<% end %>
