<div class="container-big">
  <div class="top-of-show-page col-12 mb-3">
      <h2 class="show-card-name"><%= @workshop.name %></h2>
      <p class="show-card-organizer">Organisé par: <%= @workshop.profile.first_name %> <%= @workshop.profile.last_name %></p>
      <p class="show-card-animator">Animé par: <%= @workshop.place.profile.first_name %> <%= @workshop.place.profile.last_name %> </p>
    <div class="d-flex justify-content-between">
      <div>
        <p class="show-card-address"><i class="fas fa-map-marker-alt"></i> Adresse du lieu: <%= @workshop.place.address %></p>
        <p class="show-card-duration"><i class="fas fa-clock"></i> Durée de l'atelier: <%= @workshop.duration %> minutes</p>
      </div>
      <div class="price-workshop">
        <p class="btn btn-dark"><%= @workshop.price %>€/pers</p>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <div id="showCarouselPlantes" class="carousel slide col-6" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#showCarouselPlantes" data-slide-to="0" class="active col-6"></li>
        <li data-target="#showCarouselPlantes" data-slide-to="1" class="col-6"></li>
        <li data-target="#showCarouselPlantes" data-slide-to="2" class="col-6"></li>
      </ol>
      <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "logo-black.png", alt: "Jeu de Mains" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "logo-blue.png", alt: "Jeu de Mains" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "logo-green.png", alt: "Jeu de Mains" %>
          </div>
      </div>
        <a class="carousel-control-prev" href="#showCarouselPlantes" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#showCarouselPlantes" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="card show-card place-booking-card col-4">
      <h3>Book this place !</h3>
        <%= simple_form_for([@workshop, @booking]) do |f| %>
          <div class="form-group select required">
            <label class="select required" for="date_id">Date <abbr title="required">*</abbr></label>
            <select class="form-control select required mt-4" name="date" id="date_id">
              <% @workshop.workshop_dates.sort_by { |date| date.date }.each do |date| %>
                <option value="<%= date.id %>"><%= date.date.strftime('%d/%m/%Y - %H : %M') %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group select required">
            <select class="form-control select required" name="nb_part" id="workshop_level">
              <% (1..@workshop.participants - @workshop.bookings.count).to_a.each do |nb| %>
                <option value="<%= nb %>"><%= nb %></option>
              <% end %>
            </select>
          </div>
          <%= f.submit 'Book', class: 'button w-50' %>
        <% end %>
        <form class="input">
          <input type="text" id="fname" name="fname" placeholder="AJOUTER AU PANIER">
          <input type="text" id="lname" name="lname" placeholder="FAIRE UNE CARTE CADEAU">
        </form>
    </div>
  </div>

    <div class="row">
      <div class="mt-3 col-6 d-flex">
        <p class="d-inline thematic">Végétal</p>
        <p class="d-inline thematic">Niveau débutant</p>
        <p class="d-inline thematic">Adultes</p>
        <p class="d-inline thematic">Herbier</p>
      </div>
    </div>

  <div class="further-information m-3 my-0">
    <h2>Programme de l'atelier</h2>
      <p><%= @workshop.description %></p>
    <h2>Avis sur l'atelier</h2>
      <p>Note: 3.5/5 <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i> <em>(4 avis)</em></p>
    <div class="workshop-reviews-card d-flex mb-3">
      <div class="row">
        <div class="card show-card col-5">
          <p><strong>User Rating</strong> : <i class="fas fa-star"></i><i class="fas fa-star"></i></p>
          <p><%= @workshop.description.first(308) %></p>
        </div>
        <div class="card show-card col-5">
          <p><strong>User Rating</strong> : <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
          <p><%= @workshop.description.first(308) %></p>
        </div>
        <div class="card show-card col-5">
          <p><strong>User Rating</strong> : <i class="fas fa-star"></i></p>
          <p><%= @workshop.description.first(308) %></p>
        </div>
        <div class="card show-card col-5">
          <p><strong>User Rating</strong> : <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
          <p><%= @workshop.description.first(308) %></p>
        </div>
      </div>
    </div>
  <h2>À propos de l'organisateur</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    <ul>Plus d'infos:
      <li><i class="fab fa-instagram"></i> Instagram.com/organisateur</li>
      <li><i class="fab fa-facebook"></i> Facebook.com/organisateur</li>
    </ul>
  <h2>À propos de l'animateur</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
</div>
