<div class="container-big">
  <div class="top-of-show-page col-12 mb-3">
      <h1 class="show-card-name"><%= @workshop.name %></h1>
        <% if @workshop.reviews.present? %>
          <% if @workshop.average_rating %>
            <h5 class="rating mb-3"><% @workshop.average_rating.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5 - @workshop.average_rating).times do %>
              <i class="far fa-star"></i>
            <% end %>
          <% end %>
          </h5>
        <% end %>
      <% if @workshop.place.profile.company == @workshop.profile.company %>
        <p class="show-card-organizer">Organisé & animé par : <%= link_to @workshop.place.name, place_path(@workshop.place)%></p>
      <% else  %>
        <p class="show-card-organizer">Organisé par : <%= link_to @workshop.place.name, place_path(@workshop.place) %></p>
        <p class="show-card-animator">Animé par : <%= link_to @workshop.profile.company, profile_public_path(@workshop.profile) %></p>
      <% end %>
    <div class="d-flex justify-content-between">
      <div id="address-and-duration">
        <p class="show-card-address d-flex align-items-center">
          <i class="fas fa-map-marker-alt"></i>
          <span>Adresse du lieu : <%= link_to "#{@workshop.place.address}, #{@workshop.place.zip_code} #{@workshop.place.city.upcase}", "https://www.google.fr/maps/search/#{@workshop.place.address}, #{@workshop.place.zip_code} #{@workshop.place.city.upcase}", target: "_blank" %></span>
        </p>
        <p class="show-card-duration d-flex align-items-center">
          <i class="fas fa-clock"></i>
          <% if @workshop.duration%60 == 0 %>
            Durée de l'atelier : <%= @workshop.duration/60 %>h
          <% else %>
            Durée de l'atelier : <%= @workshop.duration/60 %>h<%= @workshop.duration%60 %>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="carousel-and-booking-card">

    <%= render "carousel" %>

    <div class="card show-card place-booking-card">
      <h4>Réserver l'atelier <br>"<%= @workshop.name %>"</h4>
        <%= simple_form_for([@workshop, @booking]) do |f| %>
          <div class="form-group select required">
            <select class="form-control select required mt-4" name="date" id="date_id">
              <option value="" disabled selected>Sélectionner une date</option>
              <% @workshop.workshop_dates.sort_by { |date| date.date }.each do |date| %>
                <option value="<%= date.id %>"><%= date.date.strftime('%d/%m/%Y') %> - Début : <%= date.start_at %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group select required">
            <select class="form-control select required" name="nb_part" id="workshop_level">
                <option value="" disabled selected>Nombre de place(s)</option>
            </select>
          </div>
          <div class="price-workshop">
            <h5><strong><%= humanized_money_with_symbol(@workshop.price) %></strong><span id="small-per-pers"> /pers</span></h5>
          </div>
          <%= f.submit 'Réserver', class: 'button btn-white' %>
        <% end %>
    </div>
  </div>


  <div class="further-information mt-3 my-0 col-8">
    <div class="d-flex align-items-center mb-4">
      <div class="d-flex align-items-center mr-3">
        <i class="fas fa-tag mr-1"></i>
        <span class="thematic"><%= @workshop.level %></span>
      </div>
      <div class="d-flex align-items-center">
        <i class="fas fa-tag mr-1"></i>
        <span class="thematic"><%= @workshop.thematic %></span>
      </div>
    </div>

    <h4 class="pt-2">Programme de l'atelier</h4>
      <p class="mb-4"><%= @workshop.description %></p>

      <% if @workshop.average_rating %>
        <h4 class="mt-2">Avis sur l'atelier </h4>
        <p>
          Note: <% if @workshop.reviews.present? %>
            <% if @workshop.average_rating %>
              <h5 class="rating mb-3">
                <% @workshop.average_rating.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% (5 - @workshop.average_rating).times do %>
                  <i class="far fa-star"></i>
                <% end %>
            <% end %>
            (<%= @workshop.reviews.count %> avis)
            </h5>
          <% end %>
        </p>
      <% end %>
    <div class="card-reviews mb-3">
      <% if @workshop.reviews.present? %>
        <% @workshop.reviews.sort_by { |review| review.created_at }.reverse.each do |review| %>
          <div class="workshop-reviews">
            <p><strong><%= review.profile.first_name %></strong><span id="created-at-little">, le <%= review.created_at.strftime("%d/%m/%Y") %><span></p>
            <p class=""><%= review.content %></p>
            <p class="">
              <% if review.rating.present? %>
                <% if review.rating %>
                  <h5 class="rating"><% review.rating.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5 - review.rating).times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                  </h5>
                <% end %>
              <% end %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
      <% if @workshop.reviews.count > 4 %>
      <a id="moreReview">Afficher plus d'avis</a>
      <% else %>
      <% end %>

    <% if @workshop.place.profile.company == @workshop.profile.company %>
      <h4 class="mt-4">À propos de l'organisateur <%= @workshop.place.name %></h4>
      <p><%= @workshop.place.description %></p>
      <div class="links-show">
        <p>Plus d'infos:</p>
        <%= link_to (@workshop.place.profile.instagram), target: "_blank" do %>
          <i class="fab fa-instagram fa-2x"></i>
        <% end %>
        <%= link_to (@workshop.place.profile.facebook), target: "_blank" do %>
          <i class="fab fa-facebook fa-2x"></i>
        <% end %>
        <%= link_to (@workshop.place.profile.site_web), target: "_blank" do %>
          <i class="fas fa-link fa-2x"></i>
        <% end %>
      </div>
    <% else %>
      <h4 class="mt-4">À propos de l'organisateur <%= @workshop.place.name %></h4>
      <p><%= @workshop.place.description %></p>
      <div class="links-show">
        <p>Plus d'infos:</p>
        <%= link_to (@workshop.place.profile.instagram), target: "_blank" do %>
          <i class="fab fa-instagram fa-2x"></i>
        <% end %>
        <%= link_to (@workshop.place.profile.facebook), target: "_blank" do %>
          <i class="fab fa-facebook fa-2x"></i>
        <% end %>
        <%= link_to (@workshop.place.profile.site_web), target: "_blank" do %>
          <i class="fas fa-link fa-2x"></i>
        <% end %>
      </div>
      <h4 class="mt-4">À propos de l'animateur <%= @workshop.profile.company %></h4>
      <p><%= @workshop.profile.description %></p>
      <div class="links-show">
        <p>Plus d'infos:</p>
        <%= link_to (@workshop.profile.instagram), target: "_blank" do %>
          <i class="fab fa-instagram fa-2x"></i>
        <% end %>
        <%= link_to (@workshop.profile.facebook), target: "_blank" do %>
          <i class="fab fa-facebook fa-2x"></i>
        <% end %>
        <%= link_to (@workshop.profile.site_web), target: "_blank" do %>
          <i class="fas fa-link fa-2x"></i>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
