
<!-- MY BOOKINGS -->
<nav class="mt-4 my-bookings-nav">
  <div class="nav nav-tabs" id="myTab" role="tablist">
    <a class="nav-item nav-link active" id="nav-bookings-tab" data-toggle="tab" href="#nav-bookings" role="tab" aria-controls="nav-bookings" aria-selected="true">Mes réservations à venir <div class="badge-nombre-bookings"><%= @profile.bookings.where("date >= ?", Date.today).count %></div></a>
    <a class="nav-item nav-link" id="nav-old-bookings-tab" data-toggle="tab" href="#nav-old-bookings" role="tab" aria-controls="nav-old-bookings" aria-selected="false">Mes réservations passées <div class="badge-nombre-bookings"><%= @profile.bookings.where("date < ?", Date.today).count %></div></a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-bookings" role="tabpanel" aria-labelledby="nav-bookings-tab">

    <table class="table bookings-table">
      <tbody>
        <% @profile.bookings.where("date >= ?", Date.today).sort_by { |booking| booking.date }.reverse.each do |booking| %>
          <tr>
            <td scope="row">
              <%= link_to workshop_path(booking.workshop) do %>
                <% if booking.workshop.photos.attached? %>
                  <%= cl_image_tag booking.workshop.photos[0].key, alt: "workshop-photo", width: 100, crop: :fill %>
                <% else %>
                  <%= image_tag "https://images.unsplash.com/photo-1557677514-666eb39d6d23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80", width: 100, crop: :fill, alt: "Jeu de Mains" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to workshop_path(booking.workshop) do %>
                <%=booking.workshop.name%>
                <br>Chez : <%= booking.workshop.place.name %>
                <br><span id="booking-number">Commande n° <%= booking.id %></span>
              <% end %>
            </td>
            <td><%=booking.date.strftime('%d/%m/%Y')%> <%= booking.workshop.workshop_dates.find_by(date: booking.date).start_at %></td>
            <td><%=booking.quantity%> place(s)</td>
            <td><%= humanized_money(booking.amount) %>€</td>
            <td>
              <%= link_to "Annuler la commande", booking_path(booking), method: :delete, data: { confirm: 'Confirmez-vous la suppression ?' }, id: "cancel-booking" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="nav-old-bookings" role="tabpanel" aria-labelledby="nav-old-bookings-tab">

    <table class="table bookings-table">
      <tbody>
        <% @profile.bookings.where("date < ?", Date.today).sort_by { |booking| booking.date }.reverse.each do |booking| %>
          <tr>
            <td scope="row">
              <%= link_to workshop_path(booking.workshop) do %>
                <% if booking.workshop.photos.attached? %>
                  <%= cl_image_tag booking.workshop.photos[0].key, alt: "workshop-photo", width: 100, crop: :fill %>
                <% else %>
                  <%= image_tag "https://images.unsplash.com/photo-1557677514-666eb39d6d23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80", width: 100, crop: :fill, alt: "Jeu de Mains" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to workshop_path(booking.workshop) do %>
                <%=booking.workshop.name%>
                <br>Chez : <%= booking.workshop.place.name %>
                <br><span id="booking-number">Commande n° <%= booking.id %></span>
              <% end %>
            </td>
            <td><%=booking.date.strftime('%d/%m/%Y')%> <%= booking.workshop.workshop_dates.find_by(date: booking.date).start_at %></td>
            <td><%=booking.quantity%> place(s)</td>
            <td><%= humanized_money(booking.amount) %>€</td>
            <td>
              <% if booking.already_commented? %>
                <span id="review-posted"><i class="fas fa-check"></i> Avis déjà posté !</span>
              <% else %>
                <%= link_to "Donnez votre avis !", new_workshop_review_path(booking.workshop), id: "invite-to-comment" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
