<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-8">
      <%= simple_form_for(@profile) do |f| %>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.input :last_name, label: false, placeholder: 'Nom' %>
          </div>
          <div class="form-group col-md-6">
            <%= f.input :first_name, label: false, placeholder: 'Prénom' %>
          </div>
        </div>
        <%= f.input :company, label: false, placeholder: 'Société' %>
        <div class="form-row">
          <div class="form-group col-md-4">
            <%= f.input :address, label: false, placeholder: 'Numéro + Rue' %>
          </div>
          <div class="form-group col-md-4">
            <%= f.input :zip_code, label: false, placeholder: 'Code postal' %>
          </div>
          <div class="form-group col-md-4">
            <%= f.input :city, label: false, placeholder: 'Ville' %>
          </div>
        </div>
        <%= f.input :phone_number, label: false, placeholder: 'Téléphone' %>
        <%= f.input :site_web, label: false, placeholder: 'Site web' %>
        <%= f.input :facebook, label: false, placeholder: 'Page Facebook' %>
        <%= f.input :instagram, label: false, placeholder: 'Page Instagram' %>
        <%= f.submit 'Valider', class: 'btn btn-primary rounded-pill' %>
        <%= link_to 'Annuler', profile_path(@profile), class: 'btn btn-primary rounded-pill' %>
      <% end %>
    </div>
  </div>
</div>
