<!-- PUBLIC OWNER PROFILE -->
<div class="form-background", style="background-image: url(<%= image_path "background-form.svg" %>);">

  <div class="container my-5">
    <div class="row justify-content-center">

      <!-- LEFT PART -->

      <div class="col-3">

        <!-- OWNER AVATER, NUMBER OF BOOKINGS, RATING, MEMBER SINCE **** -->

        <div class="card public-card-place">

          <div class="card-profile-header">
            <div class="avatar" >
              <% if @profile.photo.attached? %>
                <%= cl_image_tag @profile.photo.key, class: "avatar", width: 250, crop: :fill %>
              <% else %>
                <%= image_tag "https://i48.servimg.com/u/f48/16/78/05/90/myster10.png", class: "avatar", width: 250, crop: :fill %>
              <% end %>
            </div>
          </div>

          <div class="card-body card-profile-body mx-3">
            <div class="bookings-and-average-rating">
              <div class="card-profile-important-info">
                <h4><i class="fas fa-brush"></i><%= @profile.workshops.count %></h4>
                <p>Ateliers animés</p>
              </div>
              <div class="card-profile-important-info">
                <div class="d-flex inline-flex align-items-center justify-content-center">
                  <h4>
                    <i class="fas fa-star"></i><%= @profile.average_rating(@reviews) %>
                  </h4>
                  <h6 class="ml-1">/5</h6>
                </div>
                <p>Note moyenne</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-1">
      </div>

      <!-- RIGHT PART -->

      <div class="col-6">

        <!-- HELLO MESSAGE & OWNER CITY -->
        <div class="profile-message-name-place">
          <h2 class="mb-3">Hello ! Je m'appelle <%= @profile.first_name.capitalize %></h2>
          <% if @profile.city.present? %>
            <h5 class="border-bottom pb-4">  <i class="fas fa-home mr-2"></i> De <%= @profile.city %></h5>
          <% end %>
        </div>

        <!-- OWNER'S REVIEWS -->

        <% if @reviews.present? %>
          <h4 class="profile-reviews mt-4">Les derniers avis sur mes animations</h4>
          <div class="my-public-owner-cards">
            <% @reviews.sort_by { |review| review.created_at }.reverse.each do |review| %>
              <div class="my-public-owner-card">
                <div class="rating-in-card-review-public border-right m-2">
                  <h5><i class="fas fa-star"></i> <%= review.animator_rating %> <span>/5</span></h5>
                </div>
                <p class="m-2"><%= review.content %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
