
<div class="container my-4">
  <div class="profile-show-container">

  <!-- WELCOME MESSAGE -->

    <div class="profile-show-welcome">
      <div class="profile-show-avatar">
        <% if @profile.photo.attached? %>
          <%= cl_image_tag @profile.photo.key, alt: "profile picture", id: "avatar", width: 250, crop: :fill  %>
        <% else %>
          <%= image_tag "profile-picture.png", id: "avatar", width: 250, crop: :fill %>
        <% end %>
      </div>
      <div>
        <h4>Bonjour <%= @profile.first_name.capitalize %>,</h4>
        <h5>bienvenue sur votre espace</h5>
      </div>
    </div>

    <div class="row d-flex flex-column">

      <% if current_user.profile.animator %>
        <%= render "workshops" %>
      <% end %>

      <% if current_user.profile.organizer %>
        <%= render "dashboard" %>
      <% end %>

      <% if current_user.profile.participant && current_user.profile.bookings.present? %>
        <%= render "bookings" %>
      <% end %>

    </div>

  </div>
</div>
