<div class="navbar navbar-expand-sm navbar-light navbar-jdm" id="navbar-homepage">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "logo_1ligne/logo jdm-1l-white.png", alt: "logo jeu de mains" %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "S'inscrire", "#", class: "nav-link button btn-navbar", id: "btn-navbar" %>
      </li>
      <li class="nav-item">
        <%= link_to "Se connecter", "#", class: "nav-link button btn-navbar", id: "btn-navbar" %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: "nav-link button", id: "menuButton" do %>
          <i class="fas fa-bars"></i>
          <span>Menu</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>

  <div id="sideMenu">
    <i class="fas fa-times" id="menuClose"></i>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to "Ateliers", "#" %></li>
        <li class="list-group-item"><%= link_to "Thématiques", "#" %></li>
      </ul>
  </div>
