<div class="banner", id="homebanner-margintop", style="background-image: url(<%= image_path "homebanner2.jpg" %>)">
  <div class="container banner-container">
    <h1>
      <span>Réservez un atelier créatif végétal</span>
      <span id="span2">près de chez vous</span>
    </h1>
    <div class="col-sm-12 col-md-5 mt-4 bg-white p-3 home-search-form">
      <ul class="nav nav-tabs home-search-form" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Chercher un atelier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Chercher un lieu / animateur</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <%= simple_form_for :filter, url: workshops_path, method: :get do |f| %>
            <%= f.input :keyword, class: "form-control", required: false, label: false, placeholder: "Que cherchez-vous ?" %>
            <%= f.input :place, class: "form-control", required: false, label: false, placeholder: "Code postal / Ville" %>
            <div class="form-group string optional filter_date">
              <input type="date" name="filter[date]" class="form-control optional" placeholder="Date souhaitée" id="filter_date" min="<%= Date.today %>">
            </div>
            <%= submit_tag "Rechercher", class: "button btn-blue" %>
          <% end %>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <%= simple_form_for :filter, url: search_path, method: :get do |f| %>
          <div class="form-group mt-3">
            <label for="profile">Rechercher un animateur</label>
            <select class="form-control select2" name="profile" id="profile">
                <option label=" "></option>
              <% @profiles.sort_by { |profile| profile.company }.each do |profile| %>
                <option value="<%= profile.id %>"><%= profile.company %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group mt-3">
            <label for="place">Rechercher un lieu</label>
            <select class="form-control select2" name="place" id="place">
              <option label=" "></option>
              <% @places.sort_by { |place| place.name }.each do |place| %>
                <option value="<%= place.id %>"><%= place.name %></option>
              <% end %>
            </select>
          </div>
            <%= f.submit 'Rechercher', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
