<div class="banner", id="homebanner-margintop", style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= image_path "homebanner2.jpg" %>)">
  <div class="container banner-container d-flex justify-content-around mt-4">
    <div class="justify-content-around">
      <h1>Réservez un atelier créatif végétal <br>près de chez vous</h1>
      <div class="mt-4" id="scroll-down">
        <a class="d-flex align-items-end button btn-transparent" href="#onboarding">Découvrir</a>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 bg-white p-3 home-search-form">
      <ul class="nav nav-tabs home-search-form" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Chercher un atelier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Chercher un lieu / animateur</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <%= simple_form_for :filter, url: workshops_path, method: :get do |f| %>
            <%= f.input :keyword, class: "form-control", required: false, label: false, placeholder: "Que cherchez-vous ?" %>
            <%= f.input :place, class: "form-control", required: false, label: false, placeholder: "Code postal / Ville" %>
            <div class="form-group string optional filter_date">
              <input class="form-control string optional datepicker flatpickr-input" type="text" name="filter[date]" id="filter_date" readonly="readonly" placeholder="Choisir une date ?">
            </div>
            <%= submit_tag "Rechercher", class: "button btn-blue" %>
          <% end %>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <%= simple_form_for :filter, url: search_path, method: :get do |f| %>
          <div class="form-group mt-3" id="searching-animator">
            <label for="profile">Rechercher un animateur</label>
            <select class="form-control select2" name="profile" id="profile">
                <option></option>
              <% @profiles.sort_by { |profile| profile.company }.each do |profile| %>
                <option value="<%= profile.id %>"><%= profile.company %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group mt-3">
            <label for="place">Rechercher un lieu</label>
            <select class="form-control select2" name="place" id="place">
              <option></option>
              <% @places.sort_by { |place| place.name }.each do |place| %>
                <option value="<%= place.id %>"><%= place.name %></option>
              <% end %>
            </select>
          </div>
            <%= f.submit 'Rechercher', class: 'button btn-blue' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="mt-1 p-3">
  <div class="suggestion-home-container justify-content-center">
    <div>
      <h4 class="mb-3">Les ateliers préférés de nos clients</h4>
      <div class="suggestion-cards">
        <% Workshop.first_four_workshops_to_display.each do |workshop| %>
          <%= link_to workshop_path(workshop), id: "suggestion-home-card" do %>
          <div class="suggestion-home-card">
            <div class="img-suggestion-home-card">
              <% if workshop.photos.attached? %>
                <%= cl_image_tag workshop.photos[0].key, alt: "Jeu de Mains", class: "img-suggestion-home-card", width: 300, crop: :fill %>
              <% else %>
                <%= image_tag "https://cdn.shopify.com/s/files/1/0135/6627/9738/articles/header_310b8395-f711-42cb-89f9-db495e34012f.jpg?v=1540918920", alt: "image workshop", class: "img-suggestion-home-card", width: 300, crop: :fill %>
              <% end %>
            </div>
            <div class="suggestion-home-card-infos">
              <div>
                <h1><%= workshop.name[0..30] %></h1>
              </div>
              <div class="d-flex justify-content-between mb-1">
                <h2><i class="fas fa-map-marker-alt"></i> <%= workshop.place.name %></h2>
              </div>
              <div class="d-flex justify-content-between">
                <div class=" rating d-flex">
                  <h3>
                    <i class="fas fa-star" style="color:$blue"></i><%= workshop.average_rating %>/5
                  </h3>
                  <p>(<%= workshop.reviews.count %> avis)</p>
                </div>
                <h1><%= workshop.price %>€</h1>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="suggestion-home-container justify-content-center mb-4">
    <div>
      <h4 class="mb-3">Les offres de dernière minute</h4>
      <div class="suggestion-cards">
        <% @places_left.each do |date| %>
          <%= link_to workshop_path(date.workshop), id: "suggestion-home-card" do %>
          <div class="suggestion-home-card">
            <div class="img-suggestion-home-card">
              <% if date.workshop.photos.attached? %>
                <%= cl_image_tag date.workshop.photos[0].key, alt: "Jeu de Mains", class: "img-suggestion-home-card", width: 300, crop: :fill %>
              <% else %>
                <%= image_tag "https://cdn.shopify.com/s/files/1/0135/6627/9738/articles/header_310b8395-f711-42cb-89f9-db495e34012f.jpg?v=1540918920", alt: "image workshop", class: "img-suggestion-home-card", width: 300, crop: :fill %>
              <% end %>
              <div class="remaining-places">
                <i class="fas fa-ticket-alt"></i>
                <div class="tag">
                  <p><%= date.available %> places restantes</p>
                </div>
              </div>
            </div>
            <div class="suggestion-home-card-infos">
              <div>
                <h1><%= date.workshop.name[0..30] %></h1>
              </div>
              <div class="d-flex justify-content-between mb-1">
                <h2><i class="fas fa-map-marker-alt"></i> <%= date.workshop.place.name %></h2>
              </div>
              <div class="d-flex justify-content-between">
                <div class=" rating d-flex">
                  <h3>
                    <i class="fas fa-star" style="color:$blue"></i><%= date.workshop.average_rating %>/5
                  </h3>
                  <p>(<%= date.workshop.reviews.count %> avis)</p>
                </div>
                <h1><%= date.workshop.price %>€</h1>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="onboarding" style="background-image: url(<%= image_path "feuille.svg" %> );" id="onboarding">
  <h3 id="onboarding-title">Les ateliers créatifs, c'est quoi ?</h3>
  <h4>Le plaisir du faire soi-même en boutique concept-store ou chez un artisan.</h4>
  <div class="onboarding-steps">
    <div class="onboarding-step-col-left">
      <h1>1.</h1>
      <p><strong>Réservez votre atelier créatif sur jeudemains.com</strong> : herbier, couronne de fleurs, bougie florale, terrarium, bouquet de fleurs séchées, et plein d'autres encore !</p>
    </div>
    <div class="onboarding-step-col-right">
      <h1>2.</h1>
      <p><strong>Rendez-vous sur le lieu de l'atelier</strong><br>où vous attendent un animateur, des participants enthousiastes et tout le nécessaire pour fabriquer l'objet prévu.</p>
    </div>
    <div class="onboarding-step-col-left">
      <h1>3.</h1>
      <p><strong>Détendez-vous pendant la durée de l'atelier</strong><br>et laissez-vous guider par les conseils et étapes prodigués par l'animateur.</p>
    </div>
    <div class="onboarding-step-col-right">
      <h1>4.</h1>
      <p>C'est déjà fini !<br><strong>Repartez avec votre création unique</strong><br>réalisée avec vos dix doigts !</p>
    </div>
    <div>
  </div>
</div>


