<div class="banner", id="homebanner-margintop", style="background-image: url(<%= image_path "homebanner2.jpg" %>)">
  <div class="container banner-container">
    <div class="col-sm-12 col-md-5 mt-4 bg-white p-3 ">
      <ul class="nav nav-tabs home-search-form" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Chercher un atelier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Chercher un lieu / animateur</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <%= simple_form_for :filter, url: workshops_path, method: :get do |f| %>
            <%= f.input :keyword, class: "form-control", required: false, label: false, placeholder: "Que cherchez-vous ?" %>
            <%= f.input :place, class: "form-control", required: false, label: false, placeholder: "Code postal / Ville" %>
            <div class="form-group string optional filter_date">
              <input type="date" name="filter[date]" class="form-control optional" placeholder="Date souhaitée" id="filter_date" min="<%= Date.today %>">
            </div>
            <%= submit_tag "Rechercher", class: "button btn-blue" %>
          <% end %>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <%= simple_form_for :filter, url: search_path, method: :get do |f| %>
            <select class="form-control select2" name="profile">
              <optgroup label="Animateurs">
                <% @profiles.sort_by { |profile| profile.last_name }.each do |profile| %>
                  <option value="<%= profile.id %>"><%= "#{profile.last_name.upcase} #{profile.first_name.capitalize}" %></option>
                <% end %>
              </optgroup>
            </select>
            <select class="form-control select2" name="place">
              <optgroup label="Lieux">
                <% @places.sort_by { |place| place.name }.each do |place| %>
                  <option value="<%= place.id %>"><%= place.name %></option>
                <% end %>
              </optgroup>
            </select>
            <%= f.submit 'Rechercher' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
