<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-8">
      <%= simple_form_for([@workshop, @review]) do |f| %>
        <%= f.input :rating, collection: [1, 2, 3, 4, 5], label: "Note de l'atelier" %>
        <%= f.input :animator_rating, collection: [1, 2, 3, 4, 5], label: "Note de l'animateur" %>
        <%= f.input :content, label: "Commentaire" %>
        <%= f.submit 'Valider', class: 'button btn-blue' %>
      <% end %>
    </div>
  </div>
</div>
