<div class="container my-5">
  <div class="row justify-content-center">

    <!-- LEFT PART -->

    <div class="col-3">

      <div class="card public-card-place-show">

        <div class="card-place-header">
          <div class="place-card-avatar" >
            <% if @place.photo.attached? %>
              <%= cl_image_tag @place.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, height: 150, width: 150, crop: :fill%>
            <% else %>
              <%= image_tag "profile-picture.png", class: "avatar dropdown-toggle avatar_place_navbar", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, height: 150, width: 150, crop: :fill %>
            <% end %>
          </div>
        </div>

        <div class="card-body place-show-card-body">
            <div class="d-flex">
              <i class="fas fa-brush"></i>
              <div class="button btn-white">
                <p><strong><%= @place.workshops.count %></strong> ateliers proposés</p>
              </div>
            </div>
            <div class="d-flex">
              <i class="fas fa-clipboard-check"></i>
              <div class="button btn-white">
                <p><strong>26</strong> réservations passées</p>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="col-1">
    </div>

    <!-- RIGHT PART -->

    <div class="col-6">

      <div class="public-message-name-place">
        <h2 class="mb-3"><%= @place.name %></h2>
        <% if @place.address.present? %>
          <h5>  <i class="fas fa-home mr-2"></i> <%= @place.address %>, <%= @place.zip_code %>, <%= @place.city.capitalize %></h5>
          <h5 class="pb-2">  <i class="fas fa-phone mr-2"></i> <%= @place.phone_number %></h5>
        <% end %>
      </div>

      <!-- PLACES'S WORKSHOP -->

      <% if @place.workshops.present? %>
        <h4 class="public-places mt-4">Nos ateliers</h4>
        <div class="our-workshops-cards my-workshop-cards">
          <% @place.workshops.each do |workshop| %>
            <div class="our-workshops-card align-items-end">
              <div class="our-workshops-card-place">
                <% if workshop.photos.attached? %>
                  <%= cl_image_tag workshop.photos[0].key, alt: "Jeu de Mains", crop: :fill %>
                <% else %>
                  <%= image_tag "profile-picture.png", alt: "Jeu de Mains" %>
                <% end %>
                <div class="our-workshops-card-infos">
                  <h5><%= link_to workshop.name, workshop_path(workshop)%></h5>
                  <h6><%= workshop.workshop_dates.count %> dates proposées</h6>
                  <% if workshop.average_rating %>
                    <p class="rating mb-3"><% workshop.average_rating.times do %>
                      <i class="fas fa-star"></i>
                      <% end %>
                      <% (5 - workshop.average_rating).times do %>
                      <i class="far fa-star"></i>
                      <% end %>
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

